.App{
    
    width: 100vw;
    height: 100vh;
    display: flex;
}

body{
    margin:0;
    padding:0;
}

.sidebar .head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.sidebar{
    height: 100%;
    width: 250px;
    background-color:#4d9385;



}


.sidebarList{

    height:auto;
    padding: 0;
    width: 100%;
}

.sidebarList .row{

    width: 100%;
    height: 60px;
    list-style-type:none;
    margin: 0%;
    display: flex;/*so dont block*/
    flex-direction: row; /*to show in row*/
    color: black;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.sidebarList .row:hover{
    cursor: pointer;
    background-color: #296865;
}

.row #icon{
    flex: 30%;/*icon div will be 30 of the screen*/
    display: grid;
    place-items: center;
}

.row #title{
    flex: 80%;

}